* {
    text-decoration: none;
}

hr {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

a {
    color: #000;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    margin: 0 auto;
    max-width: 800px;
    font-size: 16px;
    font-family: sans-serif;
    padding: 15px;

}

header {
    width: 100px;
    float: left;
    margin: 0 40px 40px 0;
}

.index {
    float: none;
    width: 50%;
    margin: 12.5% 25% 0 auto;
    font-size: 25px;
}

.index h1 {
    text-align: center;
}

nav ul {
    margin-bottom: 8px;
    list-style: none;
    padding: 0;
}

h2 ~ ul {
    list-style-type: square;
}

nav ul ul li {
    display: block;
    content: "";

}

main>nav ul:first-child li:not(:first-child, :nth-child(2)):before {
    content: " : ";
}

h1~nav li {
    padding: 0;
    margin-bottom: 8px;
}

nav li {
    display: inline;
}

main {
    clear: both;
}

main a {
    text-decoration: underline;
}

main a[target="_blank"] {
    text-decoration-style: double;
}

main img {
    max-width: 800px;
}


figure {
    margin: 0 0 10px 0;
}


li {
    margin: 0;
}

figure img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: fill;
}

figcaption {
    font-style: italic;
}

.box {
    position: relative;
}

.index__center {
    font-size: 2vmin;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 48.5%;
}

.gray,
.gray * {
    color: #777;
}

.center {
    text-align: center;
    margin: 0 auto;
}

table td,
table th {
    vertical-align: top;
    padding: 2.5px 5px;
    text-align: left;
    border-style: groove;
}

footer * {
    border-color: #777;
}

.main_nav {
    display: inline;
}

.main_nav>a {
    display: inline;
}

span a:nth-child(2) {
    float: right
}

span a {
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #000;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #fff;
    }

    * ::selection {
        background-color: #000000;
        color: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {

    a {
        color: #fff;
    }

    footer p {
        color: #afafaf;
    }

    * {
        color: #fff;
    }

    .sad {
        color: transparent;
    }

    .sad:hover {
        color: #000;
        text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff
    }
}

@media (prefers-color-scheme: light) {
    * {
        color: #000;
    }

    footer p {
        color: #afafaf;
    }

    a {
        color: #000;
    }

    .sad {
        color: transparent;

    }

    .sad:hover {
        color: #fff;
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000
    }


}

@media (prefers-color-scheme: dark) {

    img[src*="svg"],
    img[src*="png"] {
        filter: invert(1) hue-rotate(180deg);
    }

    * ::selection {
        background-color: #ffffff;
        color: #000;
    }
}