* {
    text-decoration: none;
}

a {
    color: #000;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    margin: 0 auto;
    max-width: 800px;
    font-size: 16px;
    font-family: sans-serif;
    padding: 15px;

}

header {
    width: 100px;
    float: left;
    margin: 0 40px 40px 0;
    ;
}

.index {
    float: none;
    width: 50%;
    margin: 25% auto 25% auto;
    font-size: 32px;
}

.index h1 {
    text-align: center;
}

nav ul {
    margin-bottom: 8px;
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
}

main {
    clear: both;
}

main a {
    text-decoration: underline;
}

main a[target="_blank"] {
    text-decoration-style: dashed;
}

main img {
    max-width: 800px;
}


figure, li {
    margin: 0;
}

figure img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-style: italic;
}

.box {
    position: relative;
}

.void {
    font-size: 3vmin;
    position: absolute;
    left: 53%;
    top: 38%;
    transform: rotate(90deg);
}

.gray {
    color: #777;
    text-align: center;
}

.center {
    text-align: center;
    margin: 0 auto;
}

table td,
table th {
    vertical-align: top;
    padding: 2.5px 5px;
    text-align: left;
    border-style: groove;
}

footer {
    text-align: center;
    color: #afafaf;
}

.main_nav {
    display: inline;
}

.main_nav>a {
    display: inline;
}

span a:nth-child(2) {
    float: right
}

span a {
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #000;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #fff;
    }

    * ::selection {
    background-color: #000000;
    color: #ffffff;
}
}

@media (prefers-color-scheme: dark) {

    a {
        color: #fff;
    }

    footer p {
        color: #afafaf;
    }

    * {
        color: #fff;
    }
}

@media (prefers-color-scheme: light) {
    * {
        color: #000;
    }

    footer p {
        color: #afafaf;
    }

    a {
        color: #000;
    }

    
}

@media (prefers-color-scheme: dark) {

    img[src*="svg"],
    img[src*="png"] {
        filter: invert(1) hue-rotate(180deg);
    }

    * ::selection {
    background-color: #ffffff;
    color: #000;
}
}
