* {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

a,
ul,
ol {
    color: #000;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

ol,
ul {
    list-style: none;
}

body {
    margin: 0 auto;
    max-width: 800px;
    font-size: 20px;
    font-family: serif;
    padding: 15px;

}

header {
    width: 100px;
    margin: 15px 45px 8px 0;
    margin-left: auto;
    margin-right: auto;
}

nav {
    text-align: center;
    padding: 20px;
}

nav li {
    display: inline-block;
}

main a {
    text-decoration: underline;
    color: #ffffff;
}


figure {
    margin: 0;
}

figure img {
    max-width: 800px;
}

table td, table th {
    vertical-align: top;
    padding: 2.5px 5px;
    text-align: left;
    border-style: groove;
}

footer {
    color: #afafaf;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #000;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #fff;
    }
}

@media (prefers-color-scheme: dark) {

    a {
        color: #fff;
    }
    
    footer p {
        color: #afafaf;
    }

        * {
        color: #fff;
    }
}

@media (prefers-color-scheme: light) {
    * {
        color: #000;
    }

    footer p{
        color: #afafaf;
    }

    a {
        color: #000;
    }
}

@media (prefers-color-scheme: dark) {

    img[src*="svg"],
    img[src*="png"] {
        filter: invert(1) hue-rotate(180deg);
    }
}

* ::selection {
    background-color: #35bcfa;
    color: #000;
}