* {
    text-decoration: none;
}

a {
    color: #000;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


ul {
    list-style: none;
}

body {
    margin: 0 auto;
    max-width: 800px;
    font-size: 20px;
    font-family: serif;
    padding: 15px;

}

header {
    width: 100px;
    margin: 15px 45px 8px 0;
    margin-left: auto;
    margin-right: auto;
}

nav {
    text-align: center;
    padding: 20px;
}

nav li {
    display: inline-block;
}

nav ul {
    margin-bottom: 8px;
}
main a {
    text-decoration: underline;
}

main a[target="_blank"] {
    text-decoration-style: dashed;
}


figure {
    margin: 0;
}

figure img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

table td, table th {
    vertical-align: top;
    padding: 2.5px 5px;
    text-align: left;
    border-style: groove;
}

footer {
    color: #afafaf;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #000;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #fff;
    }
}

@media (prefers-color-scheme: dark) {

    a {
        color: #fff;
    }
    
    footer p {
        color: #afafaf;
    }

        * {
        color: #fff;
    }
}

@media (prefers-color-scheme: light) {
    * {
        color: #000;
    }

    footer p{
        color: #afafaf;
    }

    a {
        color: #000;
    }
}

@media (prefers-color-scheme: dark) {

    img[src*="svg"],
    img[src*="png"] {
        filter: invert(1) hue-rotate(180deg);
    }
}

* ::selection {
    background-color: #35bcfa;
    color: #000;
}